<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Reset Password</title>
    <style>
      form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
      }
      input {
        margin: 10px;
        padding: 10px;
        width: 300px;
        border-radius: 5px;
        border: 1px solid #ccc;
      }
      input[type="submit"] {
        background-color: #5d00ff;
        color: white;
        cursor: pointer;
      }
    </style>
  </head>
  <body>
    <form action="/user/reset-password" method="post">
      <input type="number" name="otp" placeholder="Enter OTP" required />
      <input type="password" name="password" placeholder="Enter new password" required />
      <input type="submit" value="Reset Password" />
    </form>
  </body>
</html>